:root {
  /*Основные шрифты*/
  --main-font: "Roboto";
  --header-logo: "Raleway";
  --footer-logo: "Raleway";
  /*Светлая тема текста*/
  --primary-white-txt: #ffffff;
  --secondary-white-txt: #2196f3;
  /*Темная тема текста*/
  --primary-dark-txt: #212121;
  --secondary-dark-txt: #757575;
  /*Светлая тема фона*/
  --header-light-bg: #ffffff;
  --team-light-bg: #f5f4fa;
  /*Темная  тема фона*/
  --primary-dark-bg: #2f303a;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.list {
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
}
a {
  text-decoration: none;
}
.container-header {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header,
.header-box {
  display: flex;
  margin-left: auto;
  margin-right: 0px;
  align-items: center;
  justify-content: space-between;
}
.box {
  border-bottom: 1px solid #ececec;
}
.nav-container > .list {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.container > .list {
  display: flex;
}
.nav-container {
  margin-right: 305px;
}
.list > .nav-item:not(:last-child) {
  margin-right: 50px;
}
.connection {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header .header-logo {
  width: 145px;
  height: 31px;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.header-logo .span-logo {
  color: #2196f3;
}
.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-dark-txt);
}
.link-porto {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}
.link-porto:hover,
.link-porto:focus {
  color: #2196f3;
}
.nav-item .nav-links {
  width: 49px;
  height: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-item .nav-links:hover,
.navi-links:focus {
  color: #2196f3;
}
.header-link-email {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-link-email:hover,
.header-link-email:focus {
  color: #2196f3;
}
.link-email-porto {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.connection .list {
  display: flex;
  align-items: center;
  width: 307px;
}
.icon-email,
.icon-tel {
  fill: #757575;
}
.icon-email:hover,
.icon-email:focus {
  fill: #2196f3;
}
.header-item-tel .header-link-tel {
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.fono {
  padding-top: 200px;
  padding-bottom: 280px;
}
.container-hero {
  display: block;
  width: 1200px;
  height: 600px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero > .hero-title-basic {
  max-width: 696px;
  margin-bottom: 30px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.hero-title-basic {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
.hero .fono {
  height: 600px;
  padding-bottom: 200px;

  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--primary-dark-bg);
  background-image: url(../foto/overlay.jpg);
  background-image: linear-gradient(
      top bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../foto/overlay.jpg);
}
.group {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.icon-group {
  fill: #212121;
}
.icon-group:hover {
  fill: #2196f3;
}
.group:last-child {
  margin-right: 0px;
}
.action {
  display: flex;
  list-style-type: none;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.hero-btn {
  display: block;
  box-sizing: border-box;
  min-width: 200px;
  padding: 10px 32px;
  margin: auto;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-txt);
  background-color: #2196f3;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
.section {
  padding-top: 94px;
}
.section-different,
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container .hang {
  display: flex;
  margin: auto;
}
.hero-item > .hero-title-centr {
  width: 270px;
  height: 16px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.hero-item > .hero-title-centr:last-child {
  padding-right: 0px;
}
.hero-title-centr > .hero-descr {
  width: 270px;
  height: 75px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.hero-title-centr > .hero-descr:last-child {
  margin-right: 0px;
}
.hero-item .hero-title-centr {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.container > .hero-title {
  margin-bottom: 50px;
  text-align: center;
}
.container.different {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 94px;
}
.different > .hero-item {
  display: flex;
  width: 370px;
  margin-right: 30px;
}
.different > .hero-item:last-child {
  margin-right: 0px;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.hero-title-team {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.clients {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  min-width: 390px;
  padding-bottom: 0px;
  margin-bottom: 50px;
  text-align: center;
}
.actions {
  display: flex;
  list-style-type: none;
  width: 1200px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}
.firma {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
}
.firma:hover {
  border: 1px solid #2196f3;
}
.firma:last-child {
  margin-right: 0px;
}
.icon {
  margin-top: 16px;
  margin-right: 32px;
  margin-bottom: 16px;
  margin-left: 32px;
  fill: #afb1b8;
}
.icon-3 {
  margin-top: 16px;
  margin-right: 32px;
  margin-bottom: 16px;
  margin-left: 32px;
  fill: #2196f3;
}

.hero-item {
  list-style-type: none;
  width: 270px;
  margin-right: 30px;
}
.hero-item:last-child {
  margin-right: 0px;
}
.hero-title-foto {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.hero-descr-foto {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-txt);
}
.container > .hero-title-team {
  margin-bottom: 50px;
  text-align: center;
}
.team-container {
  display: flex;
  width: 270px;
  right: 368px;
  padding-bottom: 94px;
}
.team-container > .hero-item {
  margin-right: 30px;
}
.team-container > .hero-item :last-child {
  margin-right: 0px;
}
.team {
  margin-top: auto;
  margin-bottom: auto;
}
.presentation {
  padding-top: 30px;
  padding-bottom: 30px;
}
.hero-title-foto {
  min-width: 151px;
  right: 19px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero-descr-foto {
  min-width: 130px;
  right: 19px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.list-social {
  display: flex;
  list-style-type: none;
  padding-left: 30px;
  padding-right: 30px;

}
.item-social {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  margin-right: 10px;
  
  border-radius: 50%;
}
.item-social:last-child {
  margin-right: 0px;
}

.icon-social {
  justify-content: center;
  align-items: center;
  fill: #afb1b8;

}
.container-footer {
  display: block;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  display: block;
  padding: 0px;
}

.container-footer .footer-link {
  width: 145px;
  height: 31px;
  margin-bottom: 20px;
}
.footer .footer-link {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-link .span-logo {
  color: #2196f3;
}
.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--primary-dark-bg);
}
.footer-adr-link {
  display: block;
  min-width: 231px;
  padding-bottom: 9px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-txt);
}
.footer-link-email {
  display: block;
  min-width: 231px;
  padding-bottom: 9px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-tel {
  display: block;
  min-width: 231px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.btn-all {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-white-txt);
  background-color: #2196f3;
}
.btn-all:hover,
.btn-all:focus {
  background-color: #2196f3;
}
.tilter .btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
}
.list .title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list .descr {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-txt);
}
.test-container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.flex-element {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.flex-element:nth-child(3n) {
  margin-right: 0px;
}
.signa {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
}
.container-btn {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.btn-list {
  display: flex;
  justify-content: center;
}
.filter-button {
  display: flex;
  box-sizing: 0px;
  padding: 6px 22px;
  margin-right: 8px;
  border: transparent;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter-button:not(:last-child) {
  display: flex;
  margin-right: 8px;
  text-align: center;
}
.title {
  min-width: 322px;
  right: 36px;
  padding-bottom: 4px;
  color: #212121;
}
.descr {
  min-width: 322px;
  right: 30px;
  padding-top: 0px;
}
.tilter {
  padding-top: 94px;
  padding-bottom: 94px;
}
